.map-cell {
    -fx-border-color: black;
    -fx-background-color: #7ec977;
    -fx-border-width: 2px;
}

.map-cell-highlight {
    -fx-padding: 3;
    -fx-background-color:derive(red, 0.3);
}
.map-cell-hover-highlight {
    -fx-background-color:derive(green,0.7);
}
